<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="false">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <h6 class="text-black mb-0 fs-3">Barangay Buddy - BaBu</h6>
    </nav>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <!-- to make the next icons to stay on right -->
      </div>
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-black p-0" id="iconNavbarSidenav">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line bg-black"></i>
              <i class="sidenav-toggler-line bg-black"></i>
              <i class="sidenav-toggler-line bg-black"></i>
            </div>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" style="color: black;">
        <li class="nav-item dropdown" style="color: black;">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;"><i class="fa fa-user-circle" style="color: black;"></i></a>
          <div class="dropdown-menu dropdown-menu-right custom-dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#feedbackModal"><i class="fas fa-comment-dots"></i> Feedback</a>
            <a class="dropdown-item" href="#" data-target="#profileModal" data-toggle="modal"><i class="fas fa-user"></i> Profile</a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- Feedback Modal -->
  <div class="modal fade" id="feedbackModal" tabindex="2" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="border-bottom: 3px solid #000; padding: 0.2rem;">
          <h5 class="modal-title" id="feedbackModalLabel">Feedback Rating</h5>
          <hr />
        </div>
        <div class="modal-body">
          <p>Please click on the specific area of the page that your feedback is related to.</p>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="feedbackType" id="suggest" value="suggest" />
            <label class="form-check-label" for="suggest">Suggest</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="feedbackType" id="like" value="like" checked />
            <label class="form-check-label" for="like"><i class="fa fa-thumbs-up"></i> Like</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="feedbackType" id="dislike" value="dislike" />
            <label class="form-check-label" for="dislike"><i class="fa fa-thumbs-down"></i> Dislike</label>
          </div>
          <div class="form-group">
            <label for="feedbackText">Enter feedback (required)</label>
            <textarea class="form-control" id="feedbackText" rows="3" placeholder="The details provided is accurate"></textarea>
          </div>
        </div>
        <div class="modal-footer align-items-center">
          <button type="button" class="btn btn-success">Send</button>
          <button type="button" class="close btn black-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Close</span></button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Feedback Modal -->

  <!-- Profile Modal -->
  <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="border-bottom: 3px solid #000; padding: 0.2rem;">
          <h5 class="modal-title" id="profileModalLabel" style="margin: 2%;">Profile</h5>
          <div class="ml-auto">
            <button type="button" class="btn btn-sm black-button mt-3" id="editProfileBtn">Edit</button>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color: black; color:white; border-radius: 49%;font-size: 0.5rem;"><span aria-hidden="true"><i class="fas fa-times fa-sm"></i></span></button>
          </div>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <label for="nameInput" class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="nameInput" value="Gojo Satoru" disabled />
              </div>
            </div>
            <div class="form-group row">
              <label for="emailInput" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" id="emailInput" value="gojo@gmail.com" disabled />
              </div>
            </div>
            <!-- Current Password -->
            <div class="form-group row">
              <label for="currentPasswordInput" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="currentPasswordInput" value="..........." disabled />
              </div>
            </div>

            <!-- New Password -->
            <!-- <div class="form-group row">
              <label for="newPasswordInput" class="col-sm-2 col-form-label">New Password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="newPasswordInput" disabled />
              </div>
            </div> -->
          </form>
        </div>
        <div class="modal-footer ml-auto">
          <button type="button" class="btn ml-auto" id="saveChangesBtn" style="background-color: #000; color: white;" disabled>Save Changes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Profile Modal -->

  <!-- Logout Modal -->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header ml-auto">
          <h5 class="modal-title" id="logoutModalLabel">  </h5>
          <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close" style="background-color: black; color:white; border-radius: 49%;font-size: 0.5rem;"><span aria-hidden="true"><i class="fas fa-times fa-sm"></i></span></button>
        </div>
        <div class="modal-body fs-5 text-center">Are you sure you want to leave BaBu?</div>
        <div class="modal-footer justify-content-center">
          <a class="btn black-button" href="{{ url_for('authentication_blueprint.logout') }}">Yes</a>
          <button type="btn black-button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Logout Modal -->
</nav>
<!-- End Navbar -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
  .custom-dropdown-menu {
    position: absolute !important;
    left: -100px !important;
    top: -100px !important; /* Adjust this value to your liking */
  }
  
  /* Small devices (landscape phones, less than 576px) */
  @media (max-width: 575.98px) {
    .custom-dropdown-menu {
      left: auto !important;
      top: auto !important;
    }
  }
  
  /* Medium devices (tablets, less than 768px) */
  @media (max-width: 767.98px) {
    .custom-dropdown-menu {
      left: -5px !important;
      top: -10px !important;
    }
  }
</style>

<script>
  $(document).ready(function () {
    // When the Send button is clicked...
    $('#feedbackModal .btn-primary').click(function () {
      // Get the feedback type and text
      var feedbackType = $('input[name="feedbackType"]:checked').val()
      var feedbackText = $('#feedbackText').val()
  
      // TODO: Send the feedback to your server
      console.log('Feedback type: ' + feedbackType)
      console.log('Feedback text: ' + feedbackText)
    })
  })
  
  $(document).ready(function () {
    $('#editProfileBtn').click(function () {
      $('#nameInput, #emailInput, #currentPasswordInput, #newPasswordInput, #saveChangesBtn').removeAttr('disabled')
      $('#saveChangesBtn').show() // Show the "Save Changes" button
      $(this).hide() // Hide the "Edit" button
    })
  
    $('#saveChangesBtn').click(function () {
      // Code to save the updated profile information to the server
      // ...
  
      // Re-enable the "Edit" button, hide the "Save Changes" button, and disable the input fields
      $('#editProfileBtn').show()
      $('#saveChangesBtn').hide()
      $('#nameInput, #emailInput, #passwordInput').attr('disabled', 'disabled')
    })
  })

  $(document).ready(function () {
    $('#saveChangesBtn').click(function() {
      // Get the updated values
      var name = $('#nameInput').val();
      var email = $('#emailInput').val();
      var currentPassword = $('#currentPasswordInput').val();
      var newPassword = $('#newPasswordInput').val();
  
      // TODO: Update the modal with the new values
      // This will depend on how your modal is structured
  
      // Close the modal
      $('#profileModal').modal('hide');
    });
  });
</script>
