<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl navbar-dark" id="navbarBlur" data-scroll="false">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <h6 class="text-black mb-0 fs-3">Barangay Buddy - BaBu</h6>
    </nav>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4 justify-content-end" id="navbar" >
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <!-- to make the next icons to stay on right -->
      </div>
      <div class="sidebar-toggler-container">
        <ul class="navbar-nav">
          <li class="nav-item ps-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-black p-0" id="iconNavbarSidenav">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav ml-auto" style="color: black;">
        <li class="nav-item dropdown" style="color: black;">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;"><i class="fa fa-user-circle" style="color: black;"></i></a>
          <div class="dropdown-menu dropdown-menu-right custom-dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#" data-target="#profileModal" data-toggle="modal"><i class="fas fa-user"></i> Profile</a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>

    <!-- Logout Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header ml-auto">
            <h5 class="modal-title" id="logoutModalLabel"></h5>
            <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close" style="background-color: black; color:white; border-radius: 49%;font-size: 0.5rem;"><span aria-hidden="true"><i class="fas fa-times fa-sm"></i></span></button>
          </div>
          <div class="modal-body fs-5 text-center">Are you sure you want to leave BaBu?</div>
          <div class="modal-footer justify-content-center">
            <a class="btn black-button" href="{{ url_for('authentication_blueprint.logout') }}">Yes</a>
            <button type="btn black-button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Logout Modal -->

</nav>
<!-- End Navbar -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/profile.js"></script>

<style>
  .custom-dropdown-menu {
    position: absolute !important;
    left: -100px !important;
    top: -100px !important; /* Adjust this value to your liking */
  }
  
  /* Small devices (landscape phones, less than 576px) */
  @media (max-width: 575.98px) {
    .custom-dropdown-menu {
      left: auto !important;
      top: auto !important;
    }
  }
  
  /* Medium devices (tablets, less than 768px) */
  @media (max-width: 767.98px) {
    .custom-dropdown-menu {
      left: -5px !important;
      top: -10px !important;
    }
  }
</style>
