<style>
  .chat-history-container {
    border-radius: 25px;
    background: #fff;
    padding: 15px 50px;
    width: 250px;
    height: 150px;
  }

  .chat-new-container {
    border-radius: 25px;
    background: #fff;
    padding: 15px 60px;
    width: 2250px;
    height: 150px;
  }
</style>
<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light" id="sidenav-main" style="background-color: #378b29;
background-image: linear-gradient(180deg, white, green);">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header align-items-center">
      <a class="navbar-brand" style="font-weight: bolder; font-size: 25px;" href="/">
        <img src="/static/assets/img/babu-logo.png" class="navbar-brand-img" alt="BaBu" style="height: 60%; width: auto" />
        BABU
      </a>
    </div>
    <hr class="my-3" />
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          {% comment %} <li class="nav-item">
            <a class="nav-link active" style="border-radius: 50px" href="/">
              <i class="ni ni-chat-round text-success"></i>
              <span class="nav-link-text chat" style="font-weight:bold; font-size: 16px">New Chat</span>
            </a>
          </li> {% endcomment %}
       
          <!-- <li class="nav-item"> -->
          <!-- <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="/icons.html"> -->
          <!-- <i class="ni ni-planet text-orange"></i> -->
          <!-- <span class="nav-link-text">Icons</span> -->
          <!-- </a> -->
          <!-- </li> -->
         

          <li class="nav-item"></li>
        </ul>

        <h5 class="p-0 text-color-black">
          <span class=" chat-new-container" style="font-color: black; font-weight: bold;">New Chat</span>
        </h5>
        <!-- Divider -->
        <hr class="my-3" />
        <!-- Heading -->
        <h5 class="p-0 text-color-black">
          <span class="docs-normal chat-history-container" style="font-color: black">Chat History</span>
        </h5>
        <!-- Navigation -->
        <hr class="my-3" />
        <!-- Heading -->
        <h6 class="navbar-heading p-0 text-color-black"><span class="docs-normal" style="font-color: black">Profile/Settings</span></h6>
        <ul class="navbar-nav mt-auto mb-md-3">
          <!-- Your other navbar items here -->

          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle"><img alt="Image placeholder" src="/static/assets/img/theme/team-4.jpg" /></span>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm font-weight-bold">{{ request.user.username }}</span>
                </div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-header noti-title">
                <h6 class="text-overflow m-0">Hi there!</h6>
              </div>
              <div class="dropdown-divider"></div>
              <a href="{% url 'logout' %}" class="dropdown-item">
                <i class="ni ni-user-run text-red"></i>
                <span>Logout</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
