{% extends 'layouts/base-fullscreen.html' %}
{% load static %}
{% block title %}
  Login
{% endblock %}

{% block stylesheets %}
  <style>
    body {
      background-color: #e9ecef;
    }
    .card {
      border: none;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    .logo {
      font-size: 4rem;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    
  </div>
{% endblock %}

{% block javascripts %}
  <!-- Specific JS goes HERE -->
{% endblock %}
