{% extends 'layouts/base-fullscreen.html' %} {% block title %}
  Sign IN
{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock %} {% block content %}
  <main class="main-content mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 offset-xl-1 col-lg-6 offset-lg-10 col-md-12 d-flex flex-column mx-lg-0 mx-auto custom-card">
              <div class="card card-plain card-size">
                <div class="card-header pb-0 text-center">
                  <h4 class="font-weight-bolder fs-1" style="color: black">Reset Password</h4>
                  {% with messages=get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                      <div id="flash-messages">
                        {% for category, message in messages %}
                          <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}
                          </div>
                        {% endfor %}
                      </div>
                      <script>
                        setTimeout(function () {
                          var flashMessages = document.getElementById('flash-messages')
                          var alerts = flashMessages.getElementsByClassName('alert')
                          for (var i = 0; i < alerts.length; i++) {
                            alerts[i].style.display = 'none'
                          }
                        }, 5000) // 5000 milliseconds = 5 seconds
                      </script>
                    {% endif %}
                  {% endwith %}
                </div>
                <div class="card-body">
                  <form role="form" method="post" action="{{ url_for('authentication_blueprint.forgot_password') }}">
                    {{ form.hidden_tag() }}

                    <div class="mb-3 col-md-12">
                      <label for="input">Email<span style="color: red;">*</span></label>
                      <div class="input-field">{{ form.email(placeholder='Enter Email', class='custom-input', id='email_create', maxlength='70') }}</div>
                      <div class="email-error-message"></div>
                    </div>

                    <div class="text-center">{{ form.submit(class='btn btn-lg btn-success btn-lg w-70 mt-4 mb-0') }}</div>
                  </form>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-4 text-sm mx-auto">
                    Remember your password?
                    <a href="{{ url_for('authentication_blueprint.login') }}" class="text-success text-gradient font-weight-bold">Sign In</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
              <div class="position-relative bg-gradient-success h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" style="background-image: url(''); background-size: cover">
                <div class="d-flex justify-content-center align-items-center" style="height: 30%">
                  <img src="{{ config.ASSETS_ROOT }}/img/babu-logo.png" alt="babu" style="z-index: 1; height: auto; width: 50%" class="babu-image" />
                </div>

                <span class="mask bg-gradient-success opacity-6"></span>
                <h4 class="mt-5 text-black font-weight-bolder position-relative babu-font">BaBu</h4>
                <p class="text-black fs-3 position-relative font-weight-bolder">Your Barangay Buddy</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

{% endblock %}
