{% extends 'layouts/base-fullscreen.html' %} {% block title %}
  Sign In
{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock %} {% block content %}
  <main class="main-content mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 offset-xl-1 col-lg-6 offset-lg-10 col-md-12 d-flex flex-column mx-lg-0 mx-auto custom-card">
              <div class="card card-plain card-size">
                <div class="card-header pb-0 text-center">
                  <h4 class="font-weight-bolder fs-1" style="color: black">Welcome Back</h4>
                  {% with messages=get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                      <div id="flash-messages">
                        {% for category, message in messages %}
                          <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                            {{ message }}
                          </div>
                        {% endfor %}
                      </div>
                      <script>
                        setTimeout(function () {
                          var flashMessages = document.getElementById('flash-messages')
                          var alerts = flashMessages.getElementsByClassName('alert')
                          for (var i = 0; i < alerts.length; i++) {
                            alerts[i].style.display = 'none'
                          }
                        }, 5000) // 5000 milliseconds = 5 seconds
                      </script>
                    {% endif %}
                  {% endwith %}
                  </p>
                </div>
                <div class="card-body">
                  <form role="form" method="post" action="">
                    {{ form.hidden_tag() }}
                    <div class="mb-3 col-md-12">
                      <label for="input" style="font-size: 16px;">Username <span style="color: red;">*</span></label>
                      <div class="input-field">{{ form.username(placeholder='Enter Username', class='custom-input', maxlength="25") }}</div>
                    </div>

                    <div class="mb-3 col-md-12">
                      <label for="password-input" style="font-size: 16px;">Password <span style="color: red;">*</span></label>
                      <div class="input-field">
                        {{ form.password(id='password-input', placeholder='Enter Password', type='password', class='custom-input') }}
                        <span class="input"><i id="toggle-password" class="fas fa-eye-slash"></i></span>
                      </div>
                    </div>

                    <div class="mb-3 col-md-12 d-flex justify-content-between align-items-center">
                      <div class="text-success">
                        {{ form.remember() }}
                        {{ form.remember.label(class="form-check-label") }}
                      </div>
                      <div>
                        <small class="form-text">
                          <a href="{{ url_for('authentication_blueprint.forgot_password') }}" class="text-success">Forgot Password?</a>
                        </small>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" name="login" class="btn btn-lg btn-success btn-lg w-70 mt-4 mb-0">SIGN IN</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
              <div class="position-relative bg-gradient-success h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" style="background-image: url(''); background-size: cover">
                <div class="d-flex justify-content-center align-items-center" style="height: 30%">
                  <img src="{{ config.ASSETS_ROOT }}/img/babu-logo.png" alt="babu" style="z-index: 1; height: auto; width: 50%" class="babu-image" />
                </div>

                <span class="mask bg-gradient-success opacity-6"></span>
                <h4 class="mt-5 text-black font-weight-bolder position-relative babu-font">BaBu</h4>
                <p class="text-black fs-3 position-relative font-weight-bolder">Your Barangay Buddy</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
  <script src="{{ config.ASSETS_ROOT }}/js/login-validation.js"></script>
  <script>
    if (window.performance && window.performance.navigation.type === window.performance.navigation.TYPE_BACK_FORWARD) {
      window.location.replace(window.location.href);
    }
  </script>
{% endblock %}
