{% extends 'layouts/base-fullscreen.html' %}
{% load static %}
{% block title %}
  Login
{% endblock %}

{% block stylesheets %}
  <style>
    body {
      background-color: #e9ecef;
    }
    .card {
      border: none;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    .logo {
      font-size: 4rem;
    }

    .btn-light {
      color: #d63384;
    }
    
    .btn-light:hover {
      color: #b02869;
      background-color: rgba(255, 255, 255, 0.8);
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-5 col-md-7">
        <div class="bg-white">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center mb-4">
              {% comment %} <span class="logo text-success">&#128572;</span> {% endcomment %}
              <span class="welcome-text">Welcome Back</span>
            </div>
            <div class="text-center text-muted mb-4">
              {% if msg %}
                <p>{{ msg }}</p>
              {% else %}
                <p>Add your credentials</p>
              {% endif %}
            </div>
            <form method="POST">
              {% csrf_token %}
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                  </div>
                  {{ form.username }}
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  {{ form.password }}
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-eye" id="togglePassword"></i></span>
                  </div>
                </div>
              </div>
              <div class="register-button" style="text-align-last: right;">
                <a href="{% url 'forgot_password' %}" class="text-success">Forgot Password</a>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-success btn-block my-4">Sign in</button>
              </div>
              <div class="register-button">
                <span class="text-center">Don't have an account? <a href="{% url 'register' %}" class="text-success">Sign Up</a></span>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-7 d-none d-lg-block">
        <div class="image-container">
          <span class="babu-text">BaBu</span>
          <span class="buddy">Your Barangay Buddy</span>
          <img class="babu-logo" src="{% static 'assets/img/babu-logo.png' %}" alt="babu-logo" />
        </div>
      </div>
    </div>
    
  </div>

  
{% endblock %}

{% block javascripts %}
  <script>
    document.getElementById('togglePassword').addEventListener('click', function () {
      var passwordInput = document.getElementById('id_password')
      var type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password'
      passwordInput.setAttribute('type', type)
    })
  </script>
{% endblock %}
