{% extends 'layouts/base-fullscreen.html' %} {% load static %} {% block title %}
Login {% endblock %} {% block stylesheets %}
<style>
  body {
    background-color: #e9ecef;
  }
  .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  .logo {
    font-size: 4rem;
  }

  .btn-light {
    color: #d63384;
  }

  .btn-light:hover {
    color: #b02869;
    background-color: rgba(255, 255, 255, 0.8);
  }
</style>
{% endblock %} {% block content %}
<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-5 col-md-7">
      <div class="bg-white">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center mb-4">
            <span class="welcome-text">Get Started</span>
          </div>
          <div class="text-center text-muted mb-4">
            {% if msg %}
            <p>{{ msg }}</p>
            {% else %} {% endif %}
          </div>
          <form method="POST">
            {% csrf_token %}

            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-hat-3"></i
                  ></span>
                </div>
                {{ form.username }}
              </div>
            </div>
            <span class="text-error">{{ form.username.errors }}</span>

            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-email-83"></i
                  ></span>
                </div>
                {{ form.email }}
              </div>
            </div>
            <span class="text-error">{{ form.email.errors }}</span>

            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-lock-circle-open"></i
                  ></span>
                </div>
                {{ form.password1 }}
                <span class="input-group-text">
                  <i
                    class="fa fa-eye toggle-password"
                    data-target="id_password1"
                  ></i>
                </span>
              </div>
            </div>
            <span class="text-error">{{ form.password1.errors }}</span>

            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-lock-circle-open"></i
                  ></span>
                </div>
                {{ form.password2 }}
                <span class="input-group-text">
                  <i
                    class="fa fa-eye toggle-password"
                    data-target="id_password2"
                  ></i>
                </span>
              </div>
            </div>
            <span class="text-error">{{ form.password2.errors }}</span>
            <div class="text-center">
              <button type="submit" class="btn btn-success mt-4">
                Create account
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-7 d-none d-lg-block">
      <div class="image-container">
        <span class="babu-text">BaBu</span>
        <span class="buddy">Your Barangay Buddy</span>
        <img
          class="babu-logo"
          src="{% static 'assets/img/babu-logo.png' %}"
          alt="babu-logo"
        />
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block javascripts %}
<script>
  document.querySelectorAll(".toggle-password").forEach(function (btn) {
    btn.addEventListener("click", function () {
      var targetId = this.getAttribute("data-target");
      var passwordInput = document.getElementById(targetId);
      var type =
        passwordInput.getAttribute("type") === "password" ? "text" : "password";
      passwordInput.setAttribute("type", type);
    });
  });
</script>
{% endblock %}
