<aside class="sidenav navbar bg-gradient-success navbar-vertical navbar-expand-xs border-0 border-radius-md my-3 fixed-start ms-4" id="sidenav-main">
  <div class="sidenav-header text-md-center">
    <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-md-none" aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0 text-md-center" href="/" target="_blank">
      <img src="{{ config.ASSETS_ROOT }}/img/babu-logo.png" class="navbar-brand-img h-100" alt="main_logo" />
      <span class="ms-1 font-weight-bold text-md-center fs-5">BABU</span>
    </a>
  </div>
  <hr class="horizontal dark mt-0 font-weight-bold" />
  <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="btn" id="newChatButton" style="background-color: white; 
          border-radius: 20px; 
          width: 75%;
          box-shadow: #000;
          margin: 10px;"><span class="nav-link-text ms-1">New Chat</span></button>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="background-color: white; 
          border-radius: 20px; 
          width: 75%;
          box-shadow: #000;
          margin: 10px;"><span class="nav-link-text ms-1">Chat History</span></a>
          {% if current_user.is_authenticated %}
        {% for chat_history in current_user.chat_histories %}
          <li class="nav-item">
            <a class="nav-link px-3 py-2 d-flex align-items-center rounded-pill" href="#" data-chat-history-id="{{ chat_history.id }}" style="background-color: #f5f5f5; color: #333; text-decoration: none; transition: background-color 0.3s ease;">
              {% if chat_history.title %}
                {{ chat_history.title }}
              {% else %}
                Untitled
              {% endif %}
            </a>
          </li>
        {% endfor %}
      {% endif %}
      </li>
    </ul>
  </div>
</aside>
